*.aux
*.glob
*.vo
documents/*.log
documents/*.synctex.gz
documents/_minted-*
thesis/*.toc
thesis/*.log
thesis/*.synctex.gz
thesis/_minted-*
thesis/*.bcf
thesis/*.run.xml
thesis/*.dep
coq/.coqdeps.d

thesis/*.bbl
thesis/*.blg
thesis/*.out
